.bg-light {
    background-color: #ffffff !important;
}

.navbar{
    height: 100px;
    
}

.navbar-menu {
    margin-top: 130px;
    margin-bottom: 20px;
}

.nav-link-menu {
    font-weight: bold;
    color: #DF5E88;
}


.nav-link-menu:hover {
    background-color: #DF5E88 ;
    color:white;
    border-radius: 20px;

}




   

